<div class="mx-auto w-1/3">
    <h1 class="bg-gray-100 p-3 text-center">New Comment</h1>

    <%= turbo_frame_tag "new_message", target: "_top" do %>
    
        <%= form_with(model: [ @message.topic, @message ],
         data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }) do |form| %>

            
            <div class="my-5">
                <%= form.text_area :content, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
            </div>
            <div class="">
                <%= form.submit "Comment", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer w-48" %>
                
            </div>
        <% end %>
    <% end %>

</div>